<div id="home" class="row">
  <div class="col-md-7">
    <div class="row">
      <div id="Graph" class="rounded">
        <h4>貢献度</h4>
        <% #グラフは第3スプリントで実装 %>
      </div>
      <div id="recipe" class="rounded">
        <h4>おすすめのレシピ</h4>
        <img id="recipe_image" src="/image/gyu-don.jpg">
        <button id="reload_button" class="btn btn-primary" onclick="location.href='#'">
          <i class="fas fa-sync-alt"></i>
        </button>
        <button class="btn btn-primary" onclick="location.href='#'">別のレシピ</button>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div id="refrigerator" class="rounded">
        <h4>冷蔵庫の食材一覧</h4>
        <ul class="list-group" >
        <% @user_foods.each do |item|%>
          <% if item.gram %>
            <li class="list-group-item"><%= item.name %>&nbsp;&nbsp;&nbsp;<%= item.gram %>g</li>
          <% else %>
            <li class="list-group-item"><%= item.name %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
      <div id="register" class="rounded">
          <button class="btn btn-primary" onclick="location.href='/user_foods/food_upload'">冷蔵庫に食材登録</button>
          <button class="btn btn-primary" onclick="location.href='#'">廃棄した食材登録</button>
      </div>
    </div>
  </div>
</div>