<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="graph">
        <h4>貢献度</h4>
        <% #グラフは第3スプリントで実装 %>
      </div>
      <div class="recipe">
        <h4>おすすめのレシピ</h4>
        <img class="recipe_image" src="/image/gyu-don.jpg">
        <a href="#"  class="btn btn-primary reload_button" >
          <i class="fas fa-sync-alt"></i>
        </a>
        <a href="/recipes" class="btn btn-primary">別のレシピ</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="show_food">
        <h4>冷蔵庫の食材一覧</h4>
        <ul class="list-group" >
        <% @user_foods.each do |item|%>
          <li class="list-group-item">
            <ul style="list-style: none; padding: 0;">
              <li ><%= item.name %></li>

            <% if item.gram.present? %>
              <li ><%= item.gram %>g</li>
            <% end %>

            <% if item.limit_date.present? %>
              <li ><%= item.limit_date %></li>
            <% end %>
            </ul>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="register">
          <a href="/user_foods/food_upload" class="btn btn-primary">冷蔵庫に食材登録</a>
          <a href="/discarded_foods/food_discard" class="btn btn-primary">廃棄した食材登録</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div id="chart_div"></div>
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/death_graph.js"></script>