<h2>退会について</h2>

<p>飢餓学割を退会するには、退会のお手続きが必要になります。</p>
<p>退会した場合には以下の機能がご利用できません</p>
<ul>
  <li>食材登録機能</li>
  <li>廃棄食材登録機能</li>
  <li>レシピ検索機能</li>
</ul>

<div>
  退会したい場合は以下のメールアドレス宛にユーザ名を添えてお問い合わせください。
  <br>
  <a href="#">kigagakuwari@i.softbank.jp</a>
  <br><br>
  送信後はユーザ確認が取れ次第、退会完了メールを運営よりお送りします。
  <br>
  退会メールが届いていない場合は、退会が完了していない可能性がありますので、大変お手数をおかけいたしますが、再度退会のお手続きを行ってください。
</div>