div .recipe-title{
  color: #A67555;
  font-weight: bold;
}

.slider{
  margin: 10px auto;
  width: 100%;
}
.slider img{
  width: 100%;
  max-height: 200px;
  height: 200px;
}

.slide-arrow{
  position: absolute;
  top: 40%;
}
.prev-arrow{
  color: #A67555;
  font-size: 2rem;
  left: -90px;
}
.next-arrow{
  color: #A67555;
  font-size: 2rem;
  right: -90px;
}

div .recipe{
  text-align: center;
  position: relative;
  top: -20px;
}
div .recipe > .slider > .shadow > .recipe_image{
  width: 100%;
  height: 80%;
}

div .graph{
  width: 100%;
  height: 400px;
  margin: 10px;
}

div .show_food{
  width: 100%;
  height: 435px;
  margin: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

/* 通常のボタン色 */
.btn-brown,
.btn-brown.disabled, .btn-brown:disabled {
  font-weight: bold;
  color: #A67555;
  background-color: #F8F3E7;
  border-color: #F8F3E7;
}

/* focusされた時の枠線の色 */
.btn-brown:focus, .btn-brown.focus,
.btn-brown:not(:disabled):not(.disabled):active:focus,
.btn-brown:not(:disabled):not(.disabled).active:focus,
.show > .btn-brown.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 122, 11, 0.5);
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-brown:hover {
  color: rgb(122, 69, 8);
  background-color: #FDF1D5;
  border-color: #FDF1D5;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-brown:not(:disabled):not(.disabled):active,
.btn-brown:not(:disabled):not(.disabled).active,
.show > .btn-brown.dropdown-toggle {
  color: rgb(122, 69, 8);
  background-color: #FDF1D5;
  border-color: #FDF1D5;
}
