.recipe-img-wrapper {
  width: 280px;
}
img.recipe-img {
  max-width: 280px;
  max-height: 450px;
  display: block;
  margin: 0 auto;
}

.ingredients-wrapper {
  width: calc(100% - 280px);
}

.recipe-title-color {
  color: #A67555;
}
.recipe-sub-color {
  color: #E0C784;
}

.recipe-step-wrapper {
  width: 25%;
  overflow: hidden;
  word-wrap: break-word;
  padding-right: 1vw;
}
.recipe-step-wrapper .step-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  max-width: 200px;
  max-height: 200px;
}

