.btn-dark-brown {
  color: white;
  background-color: #A67555;
  border-color: #A67555;
}
.btn-outline-accent {
  color: #F0AD4E;
  border-color: #F0AD4E;
}
.btn-outline-accent:hover {
  color: white;
}
.btn-outline-accent:active {
  color: white;
}
.btn-outline-accent:not(:disabled):not(.disabled):active {
  color: white;
}

.refrigerator-btn {
  display: block;
  width: 30%;
  height: 50px;
  position: fixed;
  bottom: 12%;
}
.bottom-left {
  left: 20%;
}
.bottom-right {
  left: calc(20% + 30%);
}

.table-column-title {
  padding: 5px 2px 5px 2px;
  background: #F8F3E7;
  color: #A67555;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-space {
  height: calc(100vh - 310px);
  overflow: auto;
}

