<form action="/signup/new" method="POST">
  <div class="field">
    email:<input type="email" name="email" value="">
  </div>
  <div class="field">
    name:<input type="text" name="name" value="">
  </div>
  <div class="field">
    password:<input type="password" name="password" value="">
  </div>
  <div class="field">
    re:password:<input type="password" name="password_confirmation" value="">
  </div>
  <div>
    <input type="submit" value="送信する">
  </div>
</form>
