<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>

<form action="/user_foods/register" method="post">
  <h1>食材登録画面</h1>
  <table>
  <thead>
    <tr>
      <th>食材名</th>
      <th>賞味期限(カレンダー形式で選択)</th>
      <th>グラム数</th>
    </tr>
  </thead>
    <tbody>
        <div id="displayArea"></div>
    </tbody>

</table>






<div id="templateForm" class="NotDisp">
  <tr>
      <td><input name="items[][food_name]" class="form-control mb-2" type="text" placeholder="食材名"></td>
      <td><input name="items[][date]" class="form-control mb-2" type="date" placeholder="賞味期限"></td>
      <td><input name="items[][gram]" class="form-control mb-2" type="number" placeholder="食材の重さ(g)"></td>
      <td><button type="button" name="removeButton"> - </button></td>
  </tr>
</div>

<button type="button" id="addButton" class="btn btn-primary mb-2" > 追加 </button>

<script>
$(function(){
    var idNo = 1;
    
    $('button#addButton').on('click',function(){
        $('div#templateForm')
            .clone(true)
            .removeAttr("id")
            .removeClass("notDisp")
            .find("input[name=templateTextbox]")
            .attr("id", "textbox_" + idNo)
            .end()
            .find("button[name=templateButton]")
            .on('click',function(){alert($(this).attr('id'));})
            .attr("id", "button_" + idNo)
            .end()
            .find("span.dispInfo")
            .text("id[" + idNo + "] TextBox_ID[" + "textbox_" + idNo + "] Button_ID:[" + "button_" + idNo + "]")
            .end()
            .appendTo("div#displayArea");
  
        idNo++;
    });
  
    $('button[name=removeButton]').on('click',function(){
        $(this).parent('div').remove();
    });

});
</script>




<table>
    <thead>
      <tr>
        <th>食材名</th>
        <th>賞味期限(カレンダー形式で選択)</th>
        <th>グラム数</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><input name="items[][food_name]" class="form-control mb-2" type="text" placeholder="食材名"></td>
        <td><input name="items[][date]" class="form-control mb-2" type="date" placeholder="賞味期限"></td>
        <td><input name="items[][gram]" class="form-control mb-2" type="number" placeholder="食材の重さ(g)"></td>
      </tr>
    </tbody>
  </table>

  <input type="reset" class="btn btn-secondary mb-2" value="取り消し">
  <input type="submit" class="btn btn-primary mb-2" value="登録">
</form>