<div class="upload_image">
  <h1>食材の画像アップロード</h1><br>
  <h3>食材画像を選択してください</h3>
  <form action="/user_foods/food_upload" method="POST">
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="upload_image_file">
        <label class="custom-file-label" for="upload_image_file" data-browse="参照">ファイル選択...</label>
      </div>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary reset">取消</button>
      </div>
    </div>
    <br>
    <input type="submit" class="btn btn-accent btn-block rounded-pill" value="手入力画面に進む">
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/upload_food_image.js"></script>