<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
<h1>食材廃棄登録画面</h1>
<% if flash[:discarded_food] %>
  <h3>以下の廃棄食材は冷蔵庫に登録されていません。</h3>
  <ul class="list-group list-group-flush" >
    <% flash[:discarded_food].each do |discarded_food| %>
      <li class="list-group-item "><%= discarded_food %></li>
    <% end %>
  </ul>
<% elsif flash[:error] %>
  <h3><%= flash[:error] %></h3>
<% end %>
<form action="/user_foods/food_discard" method="post">
  <table>
    <thead>
      <tr>
        <th>食材名</th>
        <th>グラム数</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><input name="items[][food_name]" class="form-control mb-2" type="text" placeholder="食材名"></td>
        <td><input name="items[][gram]" class="form-control mb-2" type="number" placeholder="食材の重さ(g)"></td>
      </tr>

      <tr>
        <td><input name="items[][food_name]" class="form-control mb-2" type="text" placeholder="食材名"></td>
        <td><input name="items[][gram]" class="form-control mb-2" type="number" placeholder="食材の重さ(g)"></td>
      </tr>

      <tr>
        <td><input name="items[][food_name]" class="form-control mb-2" type="text" placeholder="食材名"></td>
        <td><input name="items[][gram]" class="form-control mb-2" type="number" placeholder="食材の重さ(g)"></td>
      </tr>
    </tbody>
  </table>

  <input type="reset" class="btn btn-secondary mb-2" value="取り消し">
  <input type="submit" class="btn btn-primary mb-2" value="登録">
</form>