<h1>食材の画像アップロード</h1><br>
<h3>食材を枠内に収めてください</h3>
<div class="food_picture">
    <img src="/image/food_picture.png">
</div>
<div class="button">
    <button type="button" class="self_add">手入力</button>
</div>

<style>
 h1,h3 {
    text-align: center;
}
.food_picture{
    text-align: center;
}
.button{
    text-align:center;
}

 .self_add{
     background-color: #FF8888;
     width: 160px;
     text-align: center;
 }
</style>