<form action="/food/registor" method="post">
  <table>
    <tr>
      <th>食材名</th>
      <th>賞味期限(カレンダー形式で選択)</th>
      <th>グラム数</th>
    </tr>
    <tr>
      <td><input name="food_name" type="text"></td>
      <td><input name="date" type="date"></td>
      <td><input name="gram" type="number"></td>
    </tr>
    <tr>
      <td><input name="food_name" type="text"></td>
      <td><input name="date" type="date"></td>
      <td><input name="gram" type="number"></td>
    </tr>
    <tr>
      <td><input name="food_name" type="text"></td>
      <td><input name="date" type="date"></td>
      <td><input name="gram" type="number"></td>
    </tr>
    <tr>
      <td><input name="food_name" type="text"></td>
      <td><input name="date" type="date"></td>
      <td><input name="gram" type="number"></td>
    </tr>
    <tr>
      <td><input name="food_name" type="text"></td>
      <td><input name="date" type="date"></td>
      <td><input name="gram" type="number"></td>
    </tr>
    <tr>
      <td><input name="food_name" type="text"></td>
      <td><input name="date" type="date"></td>
      <td><input name="gram" type="number"></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="reset" value="リセッﾄ">
        <input type="submit" value="送信">
      </td>
    </tr>
  </table>
</form>