<h1>ログイン</h1>

<form action="/auth/login" method="POST">
  <div class="form-group">
    <label for="email-input">Eメールアドレス</label>
    <input type="email" name="email" class="form-control" id="email-input" value="<%= @email %>" placeholder="Eメールアドレス">
    <small class="text-muted">あなたのメールは他の誰とも共有しません。</small>
  </div>
  <div class="form-group">
    <label for="password-input">パスワード</label>
    <input type="password" name="password" class="form-control" id="password-input" value="<%= @password %>" placeholder="パスワード">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="check-input">
    <label class="form-check-label" for="check-input">記憶する</label>
  </div>
  <button type="submit" class="btn btn-primary">ログイン</button>
</form>
