<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<div class="select_genre">
<h2>ジャンル選択</h2>
<form action="/recipe" method="post">
  <!-- ジャンル選択はドロップダウン形式にする -->
    <select  class="form-control">
      <option disabled></option>
    </select>
  <br>
  <input class="btn btn-primary" type="submit" value="検索">
</form>
</div>