<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<div class="select_genre">
  <h2>ジャンル選択</h2>
  <form action="/recipes" method="post">
  <!-- ジャンル選択はドロップダウン形式にする -->
    <select name="genre"  class="form-control">
    <option selected>--ジャンルを選択--</option>    
    <option value="和食">和食</option>
    <option value="洋食">洋食</option>
    <option value="中華">中華</option>
    <option value="イタリアン">イタリアン</option>
    <option value="おかず">おかず</option>
    <option value="スイーツ">スイーツ</option>

    </select>
    <br>
    <input class="btn btn-primary" type="submit" value="検索">
  </form>
</div>
