<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<p>ジャンル選択画面(仮)</p>
<form action="/recipes" method="post">
  <!-- ジャンル選択はドロップダウン形式にする -->
  <input type="text" name="genre" value="">
  <input type="submit" value="検索">
</form>
