<h1 class="mt-4 mb-4 mr-2">
  <a class="btn btn-light mb-2" href="/recipes"><i class="fas fa-chevron-left"></i></a>
  レシピ一覧
</h1>

<% @recipes.each do |recipe| %>
  <div class="d-flex">
    <img src="<%= recipe[:thumbnail] %>" />
    <div class="ml-2">
      <a href="<%= "/recipes/show?recipe_path=#{recipe[:recipe_link]}" %>">
        <h4><%= recipe[:recipe_title] %></h4>
        </a>
      <h6 class="margin-top mt-4"> <%= recipe[:ingredients] %> </h6>
    </div>
  </div>
  <hr>
<% end %>
