<% @recipes.each do |item| %>
  <p>
    <a href="<%= "/recipes/show?recipe_path=#{item[:recipe_link]}" %>">
      <%= item[:recipe_title] %>
    </a>
  </p>
  <img src="<%= item[:thumbnail] %>" />
  <br>
<% end %>
