<% if flash[:discarded_foods].present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">廃棄した食材
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
    </h4>
    <p>
      <ul class="text-center">
        <% flash[:discarded_foods].each.with_index(1) do |discarded_food, i| %>
          <ol><%= discarded_food[:name] %><%= " - #{discarded_food[:gram]}g" if discarded_food[:gram].present? %></ol>
          <% unless flash[:discarded_foods].size == i %>
            <hr>
          <% end %>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>

<% if flash[:failure_discarded_foods].present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">廃棄に失敗した食材
        <button type="button" class="close" data-dismiss="alert" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
    </h4>
    <p>
      <ul class="text-center">
        <% flash[:failure_discarded_foods].each.with_index(1) do |failure_discarded_food, i| %>
          <ol><%= failure_discarded_food[:name] %></ol>
          <% unless flash[:failure_discarded_foods].size == i %>
            <hr>
          <% end %>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>

