<% if flash[:discarded_foods].present? %>
  <ul class="list-group list-group-flush" >
    <% flash[:discarded_foods].each do |discarded_food| %>
      <li class="list-group-item list-group-item-success"><%= discarded_food[:name] %><%= " - #{discarded_food[:gram]}g" if discarded_food[:gram].present? %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:failure_discarded_foods].present? %>
  <h3>廃棄に失敗した食材</h3>

  <ul class="list-group list-group-flush" >
    <% flash[:failure_discarded_foods].each do |failure_discarded_food| %>
      <li class="list-group-item list-group-item-danger"><%= failure_discarded_food[:name] %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:error].present? %>
  <p class="text-danger"><%= flash[:error] %></p>
<% end %>

